{% extends 'base.html' %}

{% block title %}
My Tasks
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if my_task_list.filter %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for item in my_task_list.filter %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.due_date }}</td>
                        <td>{{ item.is_completed|yesno:"yes, no" }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
            <p>You have no tasks</p>
        {% endif %}
        </div>
    </main>
{% endblock content %}
