{% extends 'base.html' %}

{% block title %}
My Projects
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
            {% if not project_list %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for item in project_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                        </td>
                        <td>{{ item.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
